@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
}

p {
    font-family: "Open Sans", sans-serif;
}

::placeholder,
label,
option,
#ramo,
textarea,
input {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #fff;
    min-height: 8vh;
    display: flex;
}

header img {
    width: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #898989;
    font-size: 1em;
}

.container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.menu {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.div-imgs-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-footer img {
    width: 100px;
}

.img-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 40px 25px 25px 0;
}

.conteudo-footer {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.menu>p {
    color: #898989;
}

.botao-menu {
    display: none;
    margin-right: 5%;
    z-index: 2;
    cursor: pointer;
}

.texto2-footer {
    display: none;
}

@keyframes aparecer {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 770px) {
    .menuNav {
        display: none;
    }

    .botao-menu {
        display: flex;
        border: none;
    }

    .botao-menu>img {
        width: 30px;
    }

    nav ul {
        flex-direction: column;
        justify-content: start;
        padding-top: 10vh;
        padding-left: 30px;
    }

    nav {
        display: none;
    }

    ul {
        height: 100vh;
        position: absolute;
        left: 0;
        width: 40%;
        top: 0;
        display: flex;
        background-color: #fff;
    }

    .menu-nav.aberto {
        display: block;
    }

    .menu-nav.aberto ul {
        animation: aparecer 0.3s ease;
    }

    .div-imgs-header {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }

    .logo-cwi {
        display: none;
    }

    .logo-lorem {
        margin-bottom: 8px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
    }

    .img-footer {
        width: 80px;
        display: flex;
        align-items: center;
    }

    .texto1-footer {
        display: none;
    }

    .texto2-footer {
        display: block;
        font-size: 12px;
    }
}
