.banner {
    background-image: linear-gradient(rgba(81, 80, 112, 0.7),
            rgba(81, 80, 112, 0.7)), url(../../img/image-contact.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 92vh;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 4em;
    color: #FFFFFF;
    font-weight: 700;
    margin: 0;
}

.div-contato>p {
    color: white;
    font-size: 1.5em;
}

.forms {
    height: 100vh;
}

.title-forms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
}

form {
    width: 55vw;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.div-formulario {
    display: flex;
}

.conteudo-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.check {
    flex-direction: row;
    align-items: center;
}

#termos {
    margin: 0 5px 0 0;
}

h2 {
    color: #FF8E6E;
    font-size: 2.1em;
}

.label-text {
    color: #898989;
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 20px;
}

input,
select,
textarea {
    border: none;
    border-bottom: 1px solid #D7D7D7;
    margin-bottom: 20px;
    padding: 15px 0;
}

.margin-right-form {
    margin-right: 15px;
}

.div-radio {
    display: flex;
}

button {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1em;
    width: 150px;
    height: 60px;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 4px;
    background-color: #515070;
    border: 1px solid #515070;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

button>img {
    width: 8px;
}