.banner {
    background-image: linear-gradient(rgba(81, 80, 112, 0.7),
            rgba(81, 80, 112, 0.7)), url(../../img/Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 92vh;
    display: flex;
    align-items: center;
}

.banner-infos>p {
    font-size: 1.3em;
    color: #FFFFFF;
    margin: 0;
}

.banner h1 {
    margin-bottom: 30px;
}

h1,
h2 {
    font-size: 4em;
    color: #FFFFFF;
    font-weight: 700;
    margin: 0;
}

.banner-infos {
    display: flex;
    flex-direction: column;
}

button {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1em;
    width: 165px;
    height: 60px;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 4px;
}

.servicos-infos>button,
.banner-infos button {
    background-color: #FF8E6E;
    border: 1px solid #FF8E6E;
}

.sobre {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre>img,
.fale-conosco-img {
    max-width: 45%;
    max-height: 45%;
}

.text-sobre-nos,
.subtitulo-servicos {
    color: #515070;
    font-size: 1.3em;
    margin: 0;
}

.text-lorem {
    max-width: 600px;
    line-height: 2em;
    font-size: 1.2em;
}

.cinza {
    color: #898989;
}

.white {
    color: #FFFFFF;
}

.laranja {
    color: #FF8E6E;
}

.sobre-infos button,
.fale-conosco-info button {
    background-color: #515070;
    border: 1px solid #515070;
}

.servicos {
    min-height: 100vh;
    background-image: linear-gradient(rgba(81, 80, 112, 0.7),
            rgba(81, 80, 112, 0.7)), url(../../img/image-servicos.png);
    background-size: cover;
    display: flex;
    align-items: center;
}

.servicos-infos,
.depoimentos-infos {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.depoimentos {
    min-height: 100vh;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
}

.card-img-info>img {
    width: 80px;
    height: 80px;
}

.div-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.card {
    max-width: 47%;
}

.conteudo {
    padding: 25px;
    background-color: #fff;
}

.card-img-info {
    display: flex;
    align-items: center;
}

.card-nome {
    color: #515070;
    font-weight: 700;
    font-size: 1.3em;
    margin: 0 0 0 25px;
}

.card-data {
    color: #FF8E6E;
    margin: 5px 0 0 25px;
}

.card-mensagem {
    line-height: 2em;
    color: #898989;
    font-size: 1.2em;
}

.funcionalidades {
    background: linear-gradient(135deg, #515070, #6B69B0);
}

.funcionalidades-img {
    display: flex;
    align-items: end;
    grid-column: 2;
    grid-row: 1;
}

.funcionalidades-img>img {
    height: 650px;
}

.funcionalidades-info {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.funcionalidades-card {
    display: contents;
}

.funcionalidades-card .card-item:first-child {
    grid-column: 1;
}

.funcionalidades-card .card-item:last-child {
    grid-column: 3;
}

.funcionalidades-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: end;
}

.funcionalidades-conteudo>h2 {
    margin-top: 60px;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-func>img {
    width: 70px;
    height: 70px;
    margin-right: 25px;
}

.titulo-func {
    color: #fff;
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.funcionalidade-texto {
    width: 350px;
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
}

.item-func {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.fale-cont {
    display: flex;
    justify-content: space-between;
}

.fale-conosco {
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: #F6F6F6;
}

@media (max-width: 1480px) and (min-width: 1120px) {
    .funcionalidade-texto {
        width: 250px;
    }

    .funcionalidades-img>img {
        height: 600px;
    }
}

@media (max-width: 1120px) and (min-width: 920px) {
    .funcionalidades-img>img {
        height: 500px;
    }

    .item-func>img {
        width: 50px;
        height: 50px;
    }

    .titulo-func {
        font-size: 1.2em;
    }

    .funcionalidade-texto,
    .text-lorem,
    .card-mensagem {
        font-size: 1.1em;
    }

    .sobre-infos h2,
    .fale-conosco-info h2 {
        font-size: 3em;
    }

    .funcionalidade-texto {
        width: 200px;
    }

    .funcionalidades-conteudo>h2 {
        margin-bottom: 100px;
    }
}

@media (max-width: 920px) {
    h1 {
        font-size: 2.5em;
    }

    .banner-infos>p,
    .text-sobre-nos,
    .subtitulo-servicos {
        font-size: 1.2em;
    }

    .sobre {
        flex-direction: column-reverse;
    }

    .sobre>img,
    .fale-conosco-img {
        max-width: 100%;
        margin: 60px 0;
    }

    h2 {
        font-size: 2em;
    }

    .text-lorem {
        font-size: 1em;
    }

    .div-cards {
        flex-direction: column;
        margin: 20px 0;
    }

    .card {
        width: 100%;
        max-width: 100%;
    }

    .conteudo {
        margin-bottom: 25px;
    }

    .depoimentos-infos>p {
        margin-top: 35px;
        text-align: center;
    }

    .depoimentos-infos>h2 {
        text-align: center;
    }

    .card-img-info {
        flex-direction: column;
    }

    .card-nome,
    .card-data {
        margin: 0;
        text-align: center;
    }

    .card-nome {
        margin: 5px 0;
        font-weight: 400;
        font-style: italic;
    }

    .card-mensagem {
        font-size: 1em;
        text-align: center;
        margin-top: 20px;
    }

    .botao-menu {
        margin: 0;
        height: auto;
    }

    .funcionalidades-info {
        display: flex;
        flex-direction: column;
    }

    .funcionalidades-card {
        display: flex;
        flex-direction: column;
    }

    .funcionalidades-img {
        order: 2;
    }

    .funcionalidades-img>img {
        height: 550px;
    }

    .item-func>img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .funcionalidade-texto {
        font-size: 1em;
        width: 220px;
    }

    .fale-cont {
        flex-direction: column-reverse;
    }

    .fale-conosco-info {
        margin-bottom: 20px;
    }

    .fale-conosco-img {
        text-align: center;
    }
}
