@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #fff;
    min-height: 8vh;
    display: flex;
}

.banner {
    background-image: linear-gradient(rgba(81, 80, 112, 0.7),
            rgba(81, 80, 112, 0.7)), url(../../img/Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 92vh;
    display: flex;
    align-items: center;
}

header img,
.img-footer img {
    width: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #898989;
    font-size: 1em;
}

.banner-infos>p {
    font-size: 1.3em;
    color: #FFFFFF;
    margin: 0;
}

p {
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.menu {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.banner h1 {
    margin-bottom: 30px;
}

h1,
h2 {
    font-size: 4em;
    color: #FFFFFF;
    font-weight: 700;
    margin: 0;
}

.banner-infos {
    display: flex;
    flex-direction: column;
}

button {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1em;
    width: 165px;
    height: 60px;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 4px;
}

.servicos-infos>button,
.banner-infos button {
    background-color: #FF8E6E;
    border: 1px solid #FF8E6E;
}

.sobre {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre>img {
    max-width: 45%;
    max-height: 45%;
}

.fale-cont>img {
    max-width: 650px;
    max-height: 650px;
}

.text-sobre-nos,
.subtitulo-servicos {
    color: #515070;
    font-size: 1.3em;
    margin: 0;
}

.text-lorem {
    max-width: 600px;
    line-height: 2em;
    font-size: 1.2em;
}

.cinza {
    color: #898989;
}

.white {
    color: #FFFFFF;
}

.laranja {
    color: #FF8E6E;
}

.sobre-infos h2,
.fale-conosco-info h2 {
    font-size: 4em;
    margin: 0;
}

.sobre-infos button,
.fale-conosco-info button {
    background-color: #515070;
    border: 1px solid #515070;
}

.servicos {
    min-height: 100vh;
    background-image: linear-gradient(rgba(81, 80, 112, 0.7),
            rgba(81, 80, 112, 0.7)), url(../../img/image-servicos.png);
    background-size: cover;
    display: flex;
    align-items: center;
}

.servicos-infos,
.depoimentos-infos {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.depoimentos {
    min-height: 100vh;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
}

.card-img-info>img {
    width: 80px;
    height: 80px;
}

.div-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.card {
    max-width: 47%;
}

.conteudo {
    padding: 25px;
    background-color: #fff;
}

.card-img-info {
    display: flex;
    align-items: center;
}

.card-nome {
    color: #515070;
    font-weight: 700;
    font-size: 1.3em;
    margin: 0 0 0 25px;
}

.card-data {
    color: #FF8E6E;
    margin: 0;
    margin: 5px 0 0 25px;
}

.card-mensagem {
    line-height: 2em;
    color: #898989;
    font-size: 1.2em;
}

.funcionalidades {
    background: linear-gradient(135deg, #515070, #6B69B0);
}

.funcionalidades-img {
    display: flex;
    align-items: end;
}

.funcionalidades-img>img {
    height: 800px;
}

.funcionalidades-info {
    display: flex;
    justify-content: space-between;
}

.funcionalidades-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: end;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-func>img {
    width: 70px;
    height: 70px;
    margin-right: 25px;
}

.titulo-func {
    color: #fff;
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.funcionalidade-texto {
    width: 350px;
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
}

.item-func {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.fale-cont {
    display: flex;
    justify-content: space-between;
}

.fale-conosco {
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: #F6F6F6;
}

.img-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 40px 25px 25px 0;
}

.conteudo-footer {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.menu>p {
    color: #898989;
    font-size: 14px;
}