.banner {
    background-image: linear-gradient(rgba(81, 80, 112, 0.7),
            rgba(81, 80, 112, 0.7)), url(../../img/image-contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    display: flex;
    align-items: center;
}

h2 {
    font-size: 3em;
}

.white {
    color: #FFFFFF;
}

.purple {
    color: #515070;
}

.text-sub {
    font-size: 1.3em;
}

.team {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.margin-top-0 {
    margin-top: 0;
}

.team-img {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.team-img>img {
    max-width: 280px;
}

.mis-vis-val {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.div-mais {
    display: flex;
    justify-content: space-between;
}

.conteudo {
    display: flex;
    align-items: center;
}

.card {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon {
    width: 85px;
    height: 85px;
    margin-right: 25px;
}

.margin-right {
    margin-right: 25px;
}

.icon>img {
    width: 100%;
    height: 100%;
}

.text-conteudo {
    color: #898989;
    font-size: 1.2em;
    word-spacing: 0.5em;
    line-height: 1.8em;
    margin-top: 45px;
}

@media (max-width: 1240px) and (min-width: 980px) {
    .team-img>img {
        width: 220px;
    }

    .text-conteudo {
        font-size: 1.1em;
    }
}

@media (max-width: 981px) {
    .team-img {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .team-img>img {
        margin-bottom: 20px;
    }

    .div-mais {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .card {
        margin-right: 0;
        margin-top: 20px;
    }

    .text-conteudo {
        margin-top: 0;
    }

    .team {
        padding-top: 50px;
    }

    .team-img>img {
        width: 100%;
    }

    .text-conteudo {
        font-size: 1em;
    }

    .text-sub {
        font-size: 1.1em;
    }

    h1,
    h2 {
        font-size: 2.5em;
    }

    .icon {
        width: 70px;
        height: 70px;
    }

    .team>.text-sub {
        margin-top: 20px;
    }
}
