.banner {
    background-image: linear-gradient(rgba(81, 80, 112, 0.7),
            rgba(81, 80, 112, 0.7)), url(../../img/BANNER\ IMAGE\ -\ sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 4em;
    color: #FFFFFF;
    font-weight: 700;
    margin: 0;
}

.text-sub {
    font-size: 1.5em;
    color: #FFFFFF;
}